:root {
    --primary: #ffffff;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: rgb(13, 13, 128);
    --border-radius: .3rem;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }

  main {
    margin: 20px auto;
    width: 94%;
  }

  p {
    font-size: 1.2rem;
  }

   .btn-search {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: rgb(65, 131, 230);
    transform: translate(-1px, -1px);
  }

  .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: rgb(160, 164, 170);
    transform: translate(-1px, -1px);
  }

   .btn-search:hover {
    color: var(--primary);
    background-color: rgb(33, 33, 165);
    transform: translate(0, 0);
  }

  .btn:hover {
    color: var(--primary);
    background-color: rgb(124, 124, 128);
    transform: translate(0, 0);
  }

  .btn-inline {
    display: inline;
  }

  .hero {
    padding: 3% 4%;
    background-image: linear-gradient(to right, rgb(65, 131, 230), rgb(13, 13, 128));
  }

  .hero p {
    max-width: 75%;
  }

  .text-center {
    font-size: 3rem;
    padding: 0 10px;
    color: white;
  }

  .list-group {
    padding: 0;
    list-style: none;
  }

  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: black;
    text-decoration: none;
  }

  .list-item:hover {
    background-color: var(--dark);
  }

.uv-index {
  display: flex;
}

#uvIndex {
  margin-right: 4px;
}

.city-card {
  border: 2px solid black;
  border-radius: var(--border-radius);
  color: black;
  padding-left: 5px;
}

.city-card h3 {
  font-weight: 400;
}

.forecast-card {
  font-size: 20px;
}

.forecast-card h2 {
  color: black;
  margin-bottom: 8px;
}

#cityHeader {
  color: black;
  font-size: 35px;
  margin-bottom: 10px;
}

#temp, #wind, #humidity, #uvIndex, #uvNumber {
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
}

#weather-container, #weather-container-cards {
  display: none;
}

.col {
  background-color: rgb(49, 97, 168);
  padding: 0;
  margin: 0 10px;
  color: white;
}

.col h4 {
  color: white;
  margin: 5px;
}

.col p {
  color: white;
  margin: 5px;
  padding: 4px 0;
}

.row {
  margin: 0;
}

.favorable {
  background-color: green;
  padding: 0 3px;
  border-radius: var(--border-radius);
  font-weight: 700;
}

.moderate {
  background-color: rgb(216, 165, 69);
  padding: 0 3px;
  border-radius: var(--border-radius);
  font-weight: 700;
}

.severe {
  background-color: rgb(180, 12, 12);
  padding: 0 3px;
  border-radius: var(--border-radius);
  font-weight: 700;
}

#uvNumber {
  font-size: 15px;
  color: white;
  padding-top: 2px;
}

  /* CARDS */
  .card {
    margin: 0 0 20px 0;
    border-radius: var(--border-radius);
  }

  .card-header {
    color: black;
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
    font-size: 35px;
  }

  .card-body {
    padding: 2.5%;
  }

  /* FORM */
  .form-label,.form-input,.form-textarea {
    display: block;
  }

  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }

  .form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }

  /* HEIGHT / WIDTH UTILS */
  .min-100-vh {
    min-height: 100vh;
  }

  .min-100-vw {
    min-width: 100vw;
  }

  /* FONT UTILS */
  .text-uppercase {
    text-transform: uppercase;
  }


  /* FLEX CONTENT */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .justify-space-around {
    justify-content: space-around;
  }

  .justify-flex-start {
    justify-content: flex-start
  }

  .justify-flex-end {
    justify-content: flex-end;
  }

  .justify-center {
    justify-content: center;
  }

  .align-stretch {
    align-items: stretch;
  }

  .align-end {
    align-items: flex-end;
  }

  .align-center {
    align-items: center;
  }

  .col-auto {
    flex-grow: 1;
  }

  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-12 {
    flex: 0 0 100%;
  }

  /* col-sm */
  @media screen and (min-width: 640px) {
    .col-sm-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }

    .col-sm-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }

    .col-sm-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }

    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }

    .col-sm-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }

    .col-sm-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }

    .col-sm-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }

    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }

    .col-sm-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }

    .col-sm-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }

    .col-sm-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }

    .col-sm-12 {
      flex: 0 0 100%;
    }
  }


  /* col-md */
  @media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }

    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }

    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }

    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }

    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }

    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }

    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }

    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }

    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }

    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }

    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }

    .col-md-12 {
      flex: 0 0 100%;
    }
  }

  /* col-lg */
  @media screen and (min-width: 992px) {
    .col-lg-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }

    .col-lg-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }

    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }

    .col-lg-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }

    .col-lg-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }

    .col-lg-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }

    .col-lg-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }

    .col-lg-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }

    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }

    .col-lg-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }

    .col-lg-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }

    .col-lg-12 {
      flex: 0 0 100%;
    }
  }

  /* col-xl */
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }

    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }

    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }

    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }

    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }

    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }

    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }

    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }

    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }

    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }

    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }

    .col-xl-12 {
      flex: 0 0 100%;
    }
  }